<h2 mat-dialog-title>Criar nova Escola</h2>

<form (ngSubmit)="save()" [formGroup]="escolaForm" class="dialog-form">
    <mat-dialog-content>
    <div class="dialog-container">

        <mat-form-field class="dialog-full-width" >
            <input matInput formControlName="nome" >
            <mat-hint>Insira um nome para a nova escola</mat-hint>
              <mat-error *ngIf="nome.invalid && (nome.dirty || nome.touched)">
                O nome é <strong>obrigatório</strong>
              </mat-error>
          </mat-form-field>
    </div>
</mat-dialog-content>

<br>

<mat-dialog-actions>
    <button mat-button color="primary" type="submit">
      <mat-icon>save</mat-icon> Salvar
    </button>
    <button mat-button color="warn" type="button" (click)="dismiss()">
        <mat-icon>cancel</mat-icon> Cancelar
      </button>
  </mat-dialog-actions>
</form>
