<mat-card>
    <img mat-card-image src="assets/img/escola.jpg">
    <mat-card-title>
      Escolas

    </mat-card-title>

    <mat-card-content>
      Escolha a escola que deseja gerenciar.
      <div class="navCont">
          <button mat-icon-button class="navCont">
              <mat-icon (click)="backClicked()">arrow_back</mat-icon>
            </button>
      </div>
      <br>
      <button mat-raised-button color="primary" (click)="openCreateDialog()">Criar nova Escola</button>
      <br>

    </mat-card-content>



  <br>

  <div *ngIf="!loaded">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngIf="loaded">
      <mat-nav-list>
          <mat-list-item *ngFor="let escola of escolas">
            <mat-icon matListIcon>school</mat-icon>
             <a matLine [routerLink]="['/escolas', escola.id]">{{ escola.nome }}</a>
             <button mat-icon-button (click)="openEditDialog(escola.id)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openDeleteDialog(escola.id)">
                <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
  </div>
</mat-card>
