<h2 mat-dialog-title>Criar nova Turma</h2>
<form (ngSubmit)="save()" [formGroup]="turmaForm" class="dialog-form">
<mat-dialog-content>
    <div class="dialog-container">

          <mat-form-field class="dialog-full-width">
            <mat-select placeholder="Etapa de Ensino" formControlName="etapa">
              <mat-option value="Ensino Fundamental">Ensino Fundamental</mat-option>
              <mat-option value="Ensino Médio">Ensino Médio</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="dialog-full-width">
            <input matInput  formControlName="ano">
            <mat-hint>Insira um ano para a turma</mat-hint>
              <mat-error *ngIf="turmaForm.controls.ano.errors.required || turmaForm.controls.ano.touched">
                O ano é <strong>obrigatório</strong>
              </mat-error>
              <mat-error *ngIf="false">
                 O valor mínimo para ano é <strong>1</strong>
                </mat-error>
                <mat-error *ngIf="false">
                    O valor máximo para ano é <strong>9</strong>
                   </mat-error>
          </mat-form-field>

          <mat-form-field class="dialog-full-width" >
            <input matInput formControlName="numero">
            <mat-hint>Insira um número para a turma</mat-hint>
              <mat-error *ngIf="turmaForm.get('ano').touched">
                O número é <strong>obrigatório</strong>
              </mat-error>
          </mat-form-field>

          <mat-form-field class="dialog-full-width">
            <mat-select placeholder="Escola" formControlName="escola">
              <mat-option value="Ensino Fundamental">Ensino Fundamental</mat-option>
              <mat-option value="Ensino Médio">Ensino Médio</mat-option>
            </mat-select>
          </mat-form-field>


      </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" type="submit" [disabled]="!turmaForm.valid || !turmaForm.touched">
      <mat-icon>save</mat-icon> Salvar
    </button>

    <button mat-button color="warn" (click)="dismiss()">
        <mat-icon>cancel</mat-icon> Cancelar
      </button>
  </mat-dialog-actions>

</form>
<br>Ano: {{turmaForm.controls.ano.errors.required}}
<br>Ano: {{turmaForm.controls.ano.touched}}
<br>Dirty: {{turmaForm.dirty}}
<br>Touched: {{turmaForm.touched}}
<br>Valid: {{turmaForm.valid}}
<br>Value: {{turmaForm.value | json}}
