

.app-content{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0px;
  border: 0px;
  margin: 10px;

}

.app-conteiner{
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  position: fixed;

}

