<mat-card>
    <img mat-card-image src="assets/img/class.jpg">
    <mat-card-title>
      Turmas
    </mat-card-title>

    <mat-card-content>
      Nessa área você poderá criar, editar, visualizar e excluir turmas
      <div class="navCont">
          <button mat-icon-button class="navCont">
              <mat-icon (click)="backClicked()">arrow_back</mat-icon>
            </button>
      </div>
      <br>
      <button mat-raised-button (click)="openCreateDialog()" color="primary">Criar nova Turma</button>
      <br>
    </mat-card-content>



    <div *ngIf="!loaded">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div *ngIf="loaded">
        <mat-list>
            <mat-list-item *ngFor="let turma of turmas">
              <h3 matLine> {{turma.nomeCompleto}} </h3>
              <button mat-icon-button (click)="openEditDialog(turma.escolaId ,turma.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="openDeleteDialog(turma.escolaId, turma.id)">
                  <mat-icon>delete</mat-icon>
              </button>
              <p matLine>
                <span> {{turma.escola}} </span>
              </p>
            </mat-list-item>
          </mat-list>
    </div>







  <br>



</mat-card>
