<mat-card>
    <img mat-card-image src="assets/img/home.jpg">
    <mat-card-title>
      Bem vindo ao Gerenciador de Ensino
    </mat-card-title>

    <mat-card-content>
      Essa aplicação irá auxiliar na gestão das escolas e turmas de seu município.
    </mat-card-content>


  <br>

  <div class="flex-container">

        <button mat-raised-button color="primary" [routerLink]="['/escolas']" class="flex-item">Escolas</button>


        <button mat-raised-button color="primary" [routerLink]="['/turmas']" class="flex-item">Turmas</button>

  </div>

</mat-card>
